@use "@/styles/mixins";

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 42px;
    text-transform: uppercase;
    @media (max-width: 768px) {
        z-index: 60;
        position: sticky;
        bottom: -0px;
        padding: 5px 10px;
        color: black !important;
        @include mixins.orange-gradient-x;
    }
    & > * {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
.catalog {
    cursor: pointer;
    border-radius: var(--br);
    height: 100%;
    background-color: white;
    // width: 302px;
    padding: 0 15px 0 15px;
    @media (max-width: 768px) {
        padding: 0 9px 0 12px;
    }
    & > * {
        &:nth-child(3) {
            fill: black;
        }
    }
    & p {
        margin-left: 14px;
        margin-right: 60px;
        @media (max-width: 768px) {
            margin-left: 11px;
            margin-right: 9px;
        }
    }
    & svg {
        fill: var(--tOrange);
        height: 21px;
        width: 21px;
    }
}

.stats__items {
    height: 100%;
    gap: 15px;
    @media (max-width: 768px) {
        gap: 2px;
    }
    & li {
        cursor: pointer;
        height: 100%;
        border-radius: var(--br);
        width: 71px;
        padding: 0 16px;
        text-align: center;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 768px) {
            width: 54px;
            padding: 0 8px 0 14px;
        }
        & svg {
            width: 19px;
            height: 19px;
            @media (max-width: 768px) {
                width: 13px;
                height: 13px;
            }
        }
    }
}
