.wrapper {
    background-color: white;
    // width: 271px;
    // height: 271px;
    overflow: hidden;
    border-radius: var(--br);
    text-align: center;
    position: relative;
    min-height: auto;
    min-width: auto;
    max-height: 271px;
    max-width: 271px;
    cursor: pointer;
    & .container {
        padding-top: 72.5%;
        position: relative;
    }
    & .image {
        width: 100%;
        position: absolute;
        top: 40%;
        left: 50%;
        max-width: 140px;
        min-width: 140px;
        transform: translate(-50%, -50%);
        & img {
            width: 100%;
            height: 100%;
        }
    }
    & .title {
        color: var(--tOrange);
        font-size: 22px;
        margin-bottom: 19px;
    }
    & .subTitle {
        margin-bottom: 27px;
    }
    @media (max-width: 840px) {
        & .image {
            top: 50%;
        }
        & .title {
            display: none;
        }
        & .subTitle {
            display: none;
        }
    }
}

.object {
    height: 146px;
    min-width: 100% !important;
    & .container {
        padding: 19px !important;
        height: 100%;
        padding-top: 0%;
        // position: relative;
        display: flex;
        flex-direction: row;
        // align-items: center;
        justify-content: space-between;
        & .left {
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            & > * {
                margin-bottom: 0;
            }
        }
        & .right {
            display: flex;
            align-items: center;
        }
    }
    @media (max-width: 840px) {
        & .image {
            top: 50%;
        }
        & .title {
            display: block;
        }
        & .subTitle {
            display: block;
        }
    }
}
