.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    @media (max-width: 1210px) {
        padding: 0 10px;
        margin: 0 -20px;
    }
    &::-webkit-scrollbar {
        display: none;
    }
    & > * {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &:nth-child(1) {
        & > div {
            margin-right: 14px;
        }
    }
}
