.wrapper {
    overflow-x: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}
.container {
    width: 853px;
    overflow-x: scroll;
    margin: 0 auto;

    & > a {
        text-transform: uppercase;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 4px;
        display: inline-block;
        padding: 6px 12px;
    }
}

.active {
    color: var(--tOrange);
    background-color: white;
    filter: drop-shadow(0px 0px 8px rgba(255, 136, 0, 0.2));
}
