.wrapper {
    & .title {
        text-align: center;
    }
    & .filter__layout {
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 768px) {
            margin: 0 -10px;
        }
        & .filter {
            margin: 30px 0;
            width: max-content;
            & > * {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 9px;
                }
            }
        }
    }
}
