.wrapper {
    height: 262px;
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column;
        height: 245px;
        justify-content: space-between;
    }
    & .container {
        width: 100%;
        height: 86px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        & img {
            margin: 0 auto;
            height: 86px;
            width: auto;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            height: 245px;
            gap: 22px;
        }
    }
    & .left {
        padding-top: 10px;
        margin-left: 54px;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 768px) {
            margin-left: 0;
            margin-right: 0;
            padding-top: 0;
            gap: 19px;
        }
        & .about {
            margin-top: auto;
            font-weight: 400;
            & > * > * {
                @media (max-width: 768px) {
                    font-size: 11px !important;
                }
                font-size: 13px !important;
            }
            & > *:nth-child(1) {
                margin-bottom: 10px;
                @media (max-width: 768px) {
                    margin-bottom: 28px;
                }
                & > * {
                    margin-right: 21px;
                    display: inline-block;
                }
            }
        }
    }
    & .right {
        text-align: center;
        align-self: self-end;

        & p {
            margin-top: 7px;
            font-weight: 300;
            font-size: 10px;
            color: #383838 !important;
            opacity: 0.8;
        }
        & img {
            margin: 0 auto;
            width: 76px;
            height: auto;
        }
        @media (max-width: 768px) {
            align-self: center;
            & p {
                margin-top: 4px;
                font-size: 6px;
            }
            & img {
                width: 48px;
            }
        }
    }
}
