@use "@/styles/mixins";

.wrapper {
    cursor: pointer;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 81px;
    transition: 0.2s all ease-in-out;
    border-radius: var(--br);
    margin-bottom: 9px;
    padding: 0 33px;
    @media (max-width: 480px) {
        padding: 0 19px;
    }
    &:hover {
        transition: 0.2s all ease-in-out;
        @include mixins.revert-orange-gradient-x;
        text-transform: inherit;
        & svg {
            fill: white !important;
        }
    }
    // & > div {
    //     display: flex;
    //     flex-direction: row;
    //     align-items: center;
    //     flex-wrap: wrap;
    // }
    & > div {
        &:nth-child(1) {
            & > * {
                vertical-align: middle;
                @media (max-width: 630px) {
                    &:nth-child(2) {
                        transform: translateY(6px);
                    }
                    vertical-align: text-bottom;
                }
            }
        }
    }
    & > * > * {
        display: inline-block;
    }
    & .rooms {
        & > * {
            display: inline-block;
        }
        margin-right: 86px;
        @media (max-width: 480px) {
            margin-right: 30px;
        }
        & h2 {
            margin-right: 6px;
            font-size: 35px;
            @media (max-width: 768px) {
                font-size: 27px;
            }
        }
        & span {
            margin-left: 9px;
            font-size: 14px;
            vertical-align: top;
        }
    }
    & .price {
        display: inline-block;
        margin-right: 25px;
        font-size: 20px;
        @media (max-width: 580px) {
            font-size: 17px !important;
            margin-right: 0px;
        }
    }
    & .additional {
        display: inline-block;
        font-size: 14px;
        vertical-align: sub !important;
        text-transform: uppercase;
    }
    & .angle {
        height: 31px;
        width: 19px;
        position: relative;
        & svg {
            height: 100%;
            width: 100%;
            rotate: -90deg;
            fill: gray;
        }
    }
}

.sold {
    position: relative;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    & > * {
        opacity: 0.2;
    }
    &::after {
        left: 0;
        top: 0;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.329);
    }
    &::before {
        position: absolute;
        content: "ПРОДАНО";
        left: 0;
        width: 100%;
        vertical-align: middle;
        text-align: center;
        font-family: "Gotham Pro";
        font-weight: bold;
        font-size: 50px;
        z-index: 1;
        color: #fff !important;
    }
    @media (max-width: 768px) {
        display: none !important;
    }
}
