@use "@/styles/mixins";

.wrapper {
    margin: 0 auto;
    @include mixins.orange-gradient-x;
    text-align: center;
    max-width: 571px;
    width: 100%;
    height: 271px;
    // height: max-content;
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    justify-content: center;
    border-radius: var(--br);
    & h2 {
        & br {
            display: none;
        }
    }
    & form {
        & > * {
            display: block;
            margin: 0 auto;
            &:not(:last-child) {
                margin-bottom: 17px;
            }
        }
        & input {
            border-radius: 4px;
            background-color: transparent;
            width: 65%;
            min-width: 230px;
            max-width: 371px;
            height: 45px;
            text-align: center;
            color: white;
            border: 2px solid white;
            &::placeholder {
                color: white;
            }
        }
    }
    & .link {
        & > * {
            color: white !important;
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
        }
        @media (max-width: 480px) {
            & svg {
                width: 25px !important;
                height: auto;
                margin-bottom: 10px;
                & image {
                    width: 100%;
                    height: 100%;
                }
            }
            & p {
                width: 120px;
                font-size: 10px;
            }
            & > * {
                margin: 0 auto;
                text-align: center;
                display: block;
            }
        }
    }
}

.wrapper_large {
    min-width: 100%;
    height: max-content;
    padding: 33px 0;
    & span {
        border-radius: 4px;
        padding: 8px 14px;
        background-color: #f19b33;
    }
    @media (max-width: 480px) {
        & span {
            background-color: transparent;
        }
        & h2 {
            & br {
                display: block;
            }
        }
    }
}
.privileges {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    text-align: left;
    margin: 0 auto;
    & > * > * {
        text-transform: initial;
        font-size: 15px;
        &:not(:last-child) {
            margin-right: 14px;
        }
        vertical-align: middle;
        display: inline-block;
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, auto);
        width: 100%;
        justify-content: center;
        row-gap: 6px;
        & > * > * {
            font-size: 10px;
        }
        & svg {
            width: 16px;
            height: 16px;
            & image {
                width: 100%;
                height: 100%;
            }
        }
    }
    @media (max-width: 480px) {
    }
}
