@use "@/styles/mixins";

.wrapper {
    height: 62px;
    width: 100%;
    position: relative;
    border-radius: var(--br);
    @include mixins.orange-gradient-x;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;

    & .countries {
        cursor: pointer;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 12px;
        font-size: 18px;
        & svg {
            width: 28px;
            fill: white;
        }
    }
    & input {
        height: 80%;
        padding: 19px;
        font-size: 15px;
        font-weight: 400;
        border-radius: var(--br);
    }
    & button {
        font-family: "Gotham Pro";
        font-weight: 900;
        height: 100%;
        font-size: 23px;
        background-color: transparent;
        border: none;
    }
}
@media (max-width: 1210px) {
    .wrapper {
        width: 97%;
        margin: 0 auto;
    }
}
@media (max-width: 768px) {
    .wrapper {
        width: 97%;
        margin: 0 auto;
        height: 50px;
        grid-template-columns: 1fr 4fr;
        padding-right: 4px;
        & .countries {
            gap: 7px;
            padding: 0 12px;
            & svg {
                width: 17px !important;
                height: 15px !important;
            }
        }
        & input {
            padding: 0 11px;
            font-size: 12px;
        }
        & button {
            display: none;
        }
    }
}
