.wrapper {
    border-radius: var(--br);
    background-color: white;
    & .title {
        text-align: center;
        padding-top: 36px;
        padding-bottom: 29px;
    }
    & > div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        gap: 40px;
        row-gap: 36px;
        padding-bottom: 17px;
        @media (max-width: 768px) {
            gap: 28px;
        }
        @media (max-width: 580px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}
