.wrapper {
    background-color: white;
    padding: 41px 70px;
    @media (max-width: 768px) {
        padding: 25px;
    }
    & h1 {
        font-size: 30px;
    }
    & h1,
    h2,
    h3,
    h4 {
        text-align: center;
        font-weight: 900;
        margin-bottom: 34px;
        @media (max-width: 768px) {
            font-size: 20px !important;
        }
    }
    h2,
    h3,
    h4 {
        margin-top: 34px;
        font-family: "Gotham Pro";
        font-size: 20px;
    }
    & p {
        font-weight: 400;
        text-align: left;
        text-transform: inherit;
        font-size: 15px;
        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}
