.wrapper {
    & h1 {
        text-align: center;
        margin-bottom: 38px;
        @media (max-width: 768px) {
            margin-bottom: 28px;
            font-size: 20px;
        }
    }
    & > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 29px;
    }
}
