.input {
    max-width: 274px;
    height: 48px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    outline: 2px solid #e2e2e2;
    & input {
        width: auto;
        overflow: hidden;
        text-align: center;
        font-size: 22px;
    }
    & .currency {
        background-color: #f7f7f7;
        // min-width: 99px;
        display: flex;
        align-items: center;
        justify-content: center;
        & p {
            font-weight: 600;
            font-size: 18px;
        }
    }
    @media (max-width: 580px) {
        height: 32px;
        & input {
            font-size: 13px;
        }
        & .currency {
            & p {
                font-size: 11px;
            }
        }
    }
}
