.wrapper {
    width: 100%;
    height: 114px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    align-items: stretch;
    margin-top: 10px;
    text-transform: uppercase;
    @media (max-width: 768px) {
        height: 30px;
    }
    // background: url("../../assets/image/logo.png") no-repeat 50% 50%;
    & .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    top: 1%;
    left: 45%;
    position: absolute;
    @media (max-width: 768px) {
        padding-left: 10px;
        vertical-align: middle;
        left: 0;
        position: relative;
    }
}
.nav__items {
    text-transform: uppercase;
    & > * {
        display: inline-block;
        margin-right: 24px;
    }
}
.user__items {
    & .language {
        cursor: pointer;
        & img {
            width: 31px;
            height: 31px;
            object-fit: cover;
        }
        & > * {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
        }
    }
    & > * {
        margin-left: 24px;
        display: inline-block;
        vertical-align: middle;
    }
}
