@use "@/styles/mixins";

.wrapper {
    max-width: 571px;
    background-color: white;
    padding-top: 43px;
    text-transform: uppercase;
    overflow: hidden;

    @media (max-width: 768px) {
        max-width: 100%;
        width: 100%;
        overflow: hidden;
    }
    & h2 {
        color: var(--tGreen);
        text-align: center;
        margin-bottom: 38px;
    }
    & p {
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 580px) {
            font-size: 10px !important;
        }
    }
    & .body {
        padding: 0 70px;
        @media (max-width: 580px) {
            padding: 0 42px;
        }
    }
    & .input__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & > p {
            margin-right: 26px;
        }
    }
    & .range__сontainer {
        margin-top: 66px;
        margin-bottom: 55px;
        width: 100%;
        position: relative;
        @media (max-width: 580px) {
            margin-top: 49px;
            margin-bottom: 39px;
        }
        & .inputValue {
            color: var(--tGreen);
            font-size: 17px;
            position: absolute;
            top: -200%;
            left: 50%;
            // transform: translateX(-50%);
            width: 100%;
            @media (max-width: 580px) {
                top: -100%;
                height: 6px;
                font-size: 10px;
            }
        }
        & input {
            width: 100%;
            border-radius: 4px;
            height: 9px;
            -webkit-appearance: none;
            -moz-appearance: none;
            @media (max-width: 580px) {
                height: 6px;
            }
            &::-webkit-slider-thumb {
                border: 1px solid white;
                -webkit-appearance: none;
                -moz-appearance: none;
                @include mixins.green-gradient-x;
                width: 24px;
                height: 24px;
                cursor: pointer;
                border-radius: 50%;
                z-index: 50;
                box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
                @media (max-width: 580px) {
                    width: 14px;
                    height: 14px;
                }
            }
            &::before {
                position: absolute;
                content: "От 30%";
                width: auto;
                height: auto;
                bottom: -150%;
                @media (max-width: 580px) {
                    bottom: -100%;
                    font-size: 9px;
                }
            }
            &::after {
                position: absolute;
                content: "До 80%";
                width: auto;
                height: auto;
                right: 0;
                bottom: -150%;
                @media (max-width: 580px) {
                    bottom: -100%;
                    font-size: 9px;
                }
            }
        }
    }
    & .term {
        margin-bottom: 64px;
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
        & .select {
            position: relative;
            &::after {
                content: "";
                top: 0;
                left: 0;
                z-index: 100;
                position: absolute;
                background: url(../../assets/image/angleDown.svg);
                width: 50%;
                height: 50%;
            }
        }
        & select {
            padding: 10px 36px 10px 24px;
            border-radius: 8px;
            border: 2px solid rgba(128, 128, 128, 0.5);
            appearance: none;
        }
        @media (max-width: 580px) {
            margin-bottom: 31px;
        }
    }
    & .calculate {
        border-radius: 0px !important;
        @include mixins.green-gradient-x;
        font-size: 15px !important;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 52px 70px 45px;
        @media (max-width: 580px) {
            padding: 30px 40px;
        }
        & p {
            font-size: 15px;
            font-weight: 400;
        }
        & > div {
            &:nth-child(1) {
                text-align: center;
                & > p {
                    margin-top: 12px;
                }
            }
            &:nth-child(2) {
                text-align: right;
                white-space: nowrap;
                & .sum {
                    font-weight: 600;
                    font-size: 45px;
                    @media (max-width: 580px) {
                        font-size: 27px !important;
                    }
                }
            }
        }
    }
}
