@mixin orange-gradient-x {
    color: white;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--lightOrange), var(--darkOrange));
}
@mixin revert-orange-gradient-x {
    transition: 0.2s all ease-in-out;
    color: white;
    text-transform: uppercase;
    background: linear-gradient(-90deg, var(--lightOrange), var(--darkOrange));
}
@mixin green-gradient-x {
    border-radius: var(--br);
    color: white;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--lightGreen), var(--darkGreen));
}
@mixin revert-green-gradient-x {
    border-radius: var(--br);
    color: white;
    text-transform: uppercase;
    background: linear-gradient(90deg, var(--lightGreen), var(--darkGreen));
}
@mixin cardImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin imgCover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin hover {
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    &:hover {
        filter: var(--shadow);
    }
}
