.wrapper {
    max-width: 100%;
    min-height: 460px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: var(--br);
    box-sizing: border-box;
}
.swiper {
    width: 100%;
    height: 100%;
}
/* .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.swiper-slide {
    background-size: cover;
    background-position: center;
}
.mySwiper2 .swiper-slide {
    cursor: grabbing;
    height: 100%;
}
.mySwiper2 .swiper-slide img {
    pointer-events: none;
    height: 100%;
}
.mySwiper {
    width: 95%;
    z-index: 10;
    height: 50px;
    left: 21px;
    bottom: 16px !important;
    position: absolute !important;
}
.mySwiper .swiper-slide {
    border: 2px solid white;
    overflow: hidden;
    border-radius: var(--br);
    width: 81px !important;
    height: 50px;
    /* opacity: 0.4; */
}
.mySwiper .swiper-slide-thumb-active {
    /* opacity: 1; */
}
.mySwiper .swiper-slide img {
    cursor: pointer;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.date__container {
    position: absolute;
    height: 38px;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 17%;
    padding: 0 2px;
}
.dates {
    border-radius: var(--br);
    min-width: 414px;
    max-width: 414px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px;
}
.dates p {
    cursor: pointer;
    border-radius: var(--br);
    background-color: transparent;
    text-align: center;
    vertical-align: middle;
    line-height: 34px;
    height: 90%;
    width: 100%;
    z-index: 10;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
}
.active {
    color: black !important;
    background-color: white !important;
}

.svgContainer {
    border-radius: var(--br);
    width: 34px;
    height: 39px;
    height: 100%;
    padding: 0 8px;
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);
}
.svgContainer > * {
    display: block !important;
}
.svgContainer svg {
    width: 100%;
    height: 100%;
    fill: white;
}
.left {
    cursor: pointer;
    float: left;
    margin-left: 18px;
}
.left svg {
    rotate: 90deg;
}
.right {
    cursor: pointer;
    float: right;
    margin-right: 18px;
}
.right svg {
    rotate: -90deg;
    width: 100%;
    height: 100%;
    fill: white;
}

@media (max-width: 768px) {
    .left,
    .right {
        display: none;
    }
    .date__container {
        overflow-x: scroll;
        justify-content: center;
    }
    .date__container::-webkit-scrollbar {
        display: none;
    }
    .dates {
        /* margin-left: 18px; */
    }
}

@media (max-width: 500px) {
    .date__container {
        justify-content: space-between;
        padding-left: 18px;
    }
}

.topButtons {
    top: 15px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 33px;
    min-height: 33px;
}
.left__side {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    margin-left: 15px;
    border-radius: var(--br);
}
.social {
    margin-right: 8px;
}
.social:nth-child(3) svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 19px !important;
    height: 19px !important;
    fill: white;
}
.social:nth-child(3) {
    display: flex !important;
    align-items: center;

    fill: white;
}

.right__side {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
